<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Vr Universal Captioning</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style1.css') }}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,400;1,500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v6.3.0/css/all.css"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
      integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"
      integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ=="
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript" charset="utf-8">
      var bool = false
      function PlayOrPause() {
        var button = document.getElementById('playorpause')
        if (button.innerText == 'Play') {
          button.innerText = 'Pause'
          bool = true
        } else {
          button.innerText = 'Play'
          bool = false
        }
      }

      $(document).ready(function() {
        
        var transcription = document.getElementById('ul')
        var transcriptionContainer = document.getElementById('log')
        let oldTranscriptionIndex = null
        setTranscription(0)
        

        function setTranscription(transcriptionIndex) {
          const oldTranscription = transcription.children[oldTranscriptionIndex]
          const newTranscription = transcription.children[transcriptionIndex]
          if (oldTranscription) {
            oldTranscription.classList.remove('transcriptionNew')
            oldTranscription.classList.add('transcription')
          }
          if (newTranscription) {
            scroll(newTranscription)
          }

          oldTranscriptionIndex = transcriptionIndex
        }

        function nextTranscription(amount) {
          const newTranscriptionIdx = Math.max(
            0,
            (oldTranscriptionIndex + amount) % transcription.children.length
          )
          setTranscription(newTranscriptionIdx)
        }

        function scroll(transcription) {
          const scrollOffset = Math.floor(transcriptionContainer.clientHeight * 0.2)
          const transcriptionPosition = transcription.offsetTop - scrollOffset

          transcriptionContainer.scrollTop = transcriptionPosition
        }

        

        var socket = io()

        socket.on('my_response', function(msg, cb) {
          if (msg.data != '') {
            var ul = document.getElementById('ul')
            var li = document.createElement('li')
           

            var font = document.getElementById("fontChange");
            var vFont = font.value;

            var spacing = document.getElementById("spacingChange");
            var vSpacing = spacing.value;
             
            var style= document.getElementById("styleChange");
            var vStyle= style.value;
            if(vFont == 20){
              li.style.fontSize = (20) + 'px';
            }
            if(vFont == 30){
              li.style.fontSize = (30) + 'px';
            }
            if(vFont == 40){
              li.style.fontSize = (40) + 'px';
            }
            if(vSpacing == 0){
              li.style.letterSpacing = (0) + 'px';
            }
            if(vSpacing == 2){
              li.style.letterSpacing = (2) + 'px';
            }
            if(vSpacing== 4){
              li.style.letterSpacing = (4) + 'px';
            }
            if(vSpacing == 6){
              li.style.letterSpacing = (6) + 'px';
            }


            if(vStyle== "Arial"){
        li.style.fontFamily = "Arial, Helvetica, sans-serif";
      }
      if(vStyle== "Georgia"){
        li.style.fontFamily = "Georgia, Helvetica, sans-serif";
      }
      if(vStyle== "Lucida"){
        li.style.fontFamily = "Lucida Consol, Helvetica, monospace";
      } 
      if(vStyle== "Default"){
        li.style.fontFamily = "Nunito Sans', sans-serif";
      } 

            var fontStyle = document.getElementById("fontChange");
            var vFontStyle = fontStyle.value;
            
            if(vFontStyle == 'Arial'){
              li.style.fontStyle = "Arial, Helvetica, sans-serif";
            }
            if(vFontStyle == 'Lucida'){
              li.style.fontStyle = 'Fantasy';
            }
            if(vFontStyle== 'Georgia'){
              li.style.fontStyle = 'Georgia';
            }
            
           
            li.classList.add('verseNew')
            li.appendChild(document.createTextNode(msg.data))
            li.setAttribute('id', 'text') // added line
            if (bool) {
              ul.appendChild(li)
              nextTranscription(1, msg.data)
            }
          }
          if (cb) cb()
        })
      })


  function ChangeFontSize(e) {
    var e = document.getElementById("fontChange");
    var value = e.value;

    var selectLi = document.querySelectorAll("li") 
    for (var i =0; i < selectLi.length; i++){
      console.log(selectLi[i].className)
      if(selectLi[i].className != 'menu-item'){ 
        selectLi[i].style.fontSize= (value) + 'px';
      }
    }
  }


    function ChangeFontStyle(e) {
      console.log("CHANGE STYLE")
    var e = document.getElementById("styleChange");
    var value = e.value;
      console.log(value)
    var selectLi = document.querySelectorAll("li") 
    for (var i =0; i < selectLi.length; i++){
      if(value == "Arial"){
        selectLi[i].style.fontFamily = "Arial, Helvetica, sans-serif";
      }
      if(value == "Georgia"){
        selectLi[i].style.fontFamily = "Georgia, Helvetica, sans-serif";
      }
      if(value == "Lucida"){
        selectLi[i].style.fontFamily = "Lucida Consol, Helvetica, monospace";
      } 
      if(value == "Default"){
        selectLi[i].style.fontFamily = "Nunito Sans', sans-serif";
      } 
    }
  }
    function ChangeLetterSpacing(e) {
    var e = document.getElementById("spacingChange");
    var value = e.value;

    var selectLi = document.querySelectorAll("li") 
    for (var i =0; i < selectLi.length; i++){
        selectLi[i].style.letterSpacing= (value) + 'px';
    }

}

    </script>
  </head>
  <body>
    <nav class="navbar">
      <div class="navbar-container">
        <div class="navbar-logo-div">
          <button class="navbar-toggler">
            <i class="fas fa-solid fa-bars"></i>
          </button>
        </div>
        <ul class="menu-list" class="dropdown">
          <li class="menu-item">
            <a class="menu-link" href="#">
              <i class="fas fa-solid fa-table"></i>
              <select class="dev" name="Transcribe Speed" id="fontChange" onchange = "ChangeFontSize()">
                <option selected disabled hidden>Font Size</option>
                <option value="20">Small</option>
                <option value="30">Medium</option>
                <option value="40">Large</option>

              </select>
            </a>
          </li>
          <li class="menu-item">
            <a class="menu-link" class="menu-link" href="#">
              <i class="fas fa-solid fa-user"></i>
              <select class="dev" id="styleChange" onchange = "ChangeFontStyle()">
                <option selected disabled hidden>Font Style</option>
                <option value="Default">Default</option>
                <option value="Arial">Arial</option>
                <option value="Georgia">Georgia</option>
                <option value="Lucida">Lucida</option>

              </select>
            </a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="#">
              <i class="fas fa-regular fa-stethoscope"></i>
              <select class="dev" id="spacingChange" onchange = "ChangeLetterSpacing()">
                <option selected disabled hidden>Letter Spacing</option>
                <option value="0">Normal</option>
                <option value="2">Small</option>
                <option value="4">Medium</option>
                <option value="6">Large</option>

              </select>
            </a>
          </li>
          
        </ul>
      </div>
    </nav>
    <div class="onoffswitch">
      <input
        type="checkbox"
        name="onoffswitch"
        id="toggleButton"
        class="onoffswitch-checkbox"
        checked
      />
      <label class="onoffswitch-label" for="myonoffswitch">
        <span class="onoffswitch-inner"></span>
        <span class="onoffswitch-switch"></span>
      </label>
    </div>
    <div class="gitub">
      <header>VR Universal Captioning</header>
    </div>

    <div class="talk2">
      <div id="log" class="TextWrapper">
        <ul id="ul" class="Texts"></ul>
      </div>
    </div>

    <div class="option">
      <div class="grid-item">
        <button
          id="playorpause"
         class="playButton"
          value="Play"
          onclick="PlayOrPause()"
        >
          Play
        </button>
      </div>
    </div>

    <script>
      let btn = document.getElementById('toggleButton')
      btn.onclick = () => {
        document.body.classList.toggle('darkMode')
      }
    </script>

    <script>
      const btnToggler = window.document.querySelector('.navbar-toggler')
      const navbar = window.document.querySelector('.navbar')

      //events
      btnToggler.addEventListener('click', () => {
        navbar.classList.toggle('active')
      })
    </script>
  </body>
</html>
